.vscode/

# Deploy
/data/
.env
.env.*
.git/
/backups/
.playwright-mcp/

# Api
/apps/api/auth

# Login
dist/
**/dist/
**/node_modules
auto-imports.d.ts
components.d.ts
vite.config.ts.timestamp*
sonda-report.html
